body {
    text-align:center;
    font-family:'Dosis',sans-serif;
    background: linear-gradient(#d5d6e6, #adb6e6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:navy;
}

#mainheader {
    padding-top:5px;
    color:navy;
    transition:0.5s;
}

#mainheader:hover {
    font-size:230%;
    transition:0.5s;
}

p {
    font-size:150%;
    color:navy
}

img {
    margin-left:auto;
    margin-right:auto;
}

ul li {
    text-align:center;
    font-size:130%;
    list-style-position:inside;
}

#nypsit,iframe {
    border:10px solid cyan;
    transition:0.5s;
}

#nypsit:hover,iframe:hover {
    border-color:white;
    transition:0.2s;
}

#song {
    clear:left;
    padding-top:15px;
}

ol li {
    list-style-image:url(Images/pencil.png);
    list-style-position:inside;
}
#list {color:navy;}