body {
    text-align:center;
    font-family:'Dosis',sans-serif;
    background-color:#adb6e6;
    color:white;
}

header {
    background-color:#adb6e6;
    height:130px;
}

nav {
    overflow:hidden;
    background-color:#adb6e6;
    position:fixed;
    top:0;
    width:100%;
}

nav ul li {
    list-style: none;
    text-align: center;
    display: inline;
}

nav ul li a {
    padding: 20px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 15px;
    margin-right: 20px;
    background-color:cyan;
    color: grey;
    padding-right: 50px;
    padding-left: 50px;
}

a:hover {
    color:#8AC7DB;
    background-color:white;
    transition:0.5s;
}

#mainheader {
    text-align:left;
    padding-top:5px;
    color:white;
    margin-left:30px;
}

#mainheader:hover {
    color:#72a7b8;
    transition:0.5s;
}

form {
	margin:0 left; 
	width:100%;	
    margin-left:30px;
}

fieldset {

    margin-top:20px;
	background-color:rgb(138, 199, 219);
	border:none;
    width:800px;
    text-align:left;
}
#outerfieldset {
    background-color:cyan;
    width:830px;
    height:770px;
}

legend {
	font-size:150%;
	border-radius:3px;
	background-color:#3bafd5;
	color:white;
	font-weight:900;
	padding:5px;
	margin:10px;
}

input::placeholder {
    color: gray;
    font-style:italic;
    font-size:1.0em;
}
  
input[type="text"]:focus:valid {
     background: rgba(0, 255, 119, 0.6) url(Images/Greentick.png) no-repeat;
     background-position:right 40%; 
     background-size:1.5em 1.5em;
}

input[type="email"]:focus:valid {
    background: rgba(0, 255, 119, 0.6) url(Images/Greentick.png) no-repeat;
    background-position:right 40%; 
    background-size:1.5em 1.5em;
}
  
input:focus:invalid {
     background: rgba(255,0,0,0.6) url(Images/Redcross.png) no-repeat;
     background-position:right 40%; 
     background-size:1.5em 1.5em;
}

ul li {font-size:130%;}

#formbutton {
    margin-top:5px;
    font-size:100%;
}

p {
    font-size:130%;
    margin-left:30px;
    text-align:left;
}

label {font-size:150%;}

#pagebutton {font-size:100%;}